a{text-decoration: none;
color:yellow;}
a:hover, a:active{
  color:rgb(90, 13, 190);
}
.nav-caption{
  padding-left: 1rem;
  width: 100px;
  display:inline-block;
}
.nav-caption2{
  padding-left: 1rem;
  width: 100px;
  display:inline-block;
}
